<header>
    <div class="logo"></div>
    <div class="header-button header-back fa fa-3x fa-arrow-right" ng-show="!pageInfo || pageInfo.back" simple-back></div>
    <div class="title">{{header}}</div>
    <div class="header-buttons">
        <div class="header-button fa fa-3x fa-cog" ng-show="!pageInfo || pageInfo.configuration" ng-click="navigatToConfiguration()"></div>
        <div class="header-button fa fa-3x fa-sign-out" ng-show="!pageInfo || pageInfo.logout" ng-click="logout()"></div>
        <div class="header-button fa fa-3x fa-home" ng-show="!pageInfo || pageInfo.home" simple-home></div>
        <div class="header-button fa fa-3x fa-refresh fa-spin" ng-show="isInProgress"></div>
    </div>
</header>