<h3 ng-show="checkout">{{ checkout.Type }}, {{ checkout.Site.FullName }}</h3>
<div class="controls top">
    <button ng-disabled="!checkout.Site || !checkout.Site.Id" class="button large-button" ng-click="displaySitePermits()">{{"RequiredPermits"|l10n}}</button>
</div>
<div class="filters">
    {{ "Search" | l10n }}:
    <input type="text" class="search" ng-model="search" placeholder="{{ 'TypeToSearch' | l10n }}" />
</div>
<div class="checkout">
<ul>
    <li ng-repeat="item in checkout.Items"
        ng-class="{ 'collapsed': item.Collapsed}">
        <h3 ng-click="item.toggleCollapsed()"><i class="fa" ng-class="{ 'fa-plus': item.Collapsed, 'fa-minus': !item.Collapsed}"></i>{{item.Name}}</h3>
        <div class="children">
            <ul>
                <li ng-repeat="childItem in item.Items"
                    ng-class="{ 'collapsed': childItem.Collapsed}">
                    <h4 ng-click="childItem.toggleCollapsed()"><i class="fa" ng-class="{ 'fa-plus': childItem.Collapsed, 'fa-minus': !childItem.Collapsed}"></i>{{childItem.Name}}</h4>
                    <div class="children">
                        <ul>
                            <li ng-repeat="child in childItem.Items | filter:search"
                                class="clearfix"
                                ng-class="{ 'checkout-category':true, 'valid': child.Valid == true, 'invalid': child.Valid == false, 'collapsed':child.Collapsed }">

                                <div class="bullet" ng-click="child.toggleCollapsed()">
                                    <i class="fa" ng-class="{ 'fa-plus': child.Collapsed, 'fa-minus': !child.Collapsed}" ></i> {{child.Name}}
                                </div>
                                <div class="text">{{child.Text}}</div>
                                <!--
                                    <div class="button large-button valid" ng-click="markAsValid(child);">{{"Valid"|l10n}}</div>
                                    ng-click="child.IncidentsCollapsed = !child.IncidentsCollapsed"
                                    -->
                                <div class="incidents" ng-class="{ 'collapsed': child.IncidentsCollapsed}">
                                    <div ng-hide="child.Incidents.length" class="incidents-header">
                                        {{ "NoIncidents"|l10n }}
                                    </div>
                                    <div ng-show="child.Incidents.length" class="incidents-header" >
                                        {{ child.Incidents.length }} {{ "Incidents"|l10n }}
                                    </div>
                                    <div class="incidents-items" ng-show="child.Incidents.length">
                                        <ul>
                                            <li ng-repeat="incident in child.Incidents |orderBy:'Severity.Name' track by incident.UniqueId">
                                                <span class="severity-hint" ng-style="{ 'background-color': incident.Severity.Color }">{{ incident.Severity.Name }}</span>
                                                {{ incident.Description }}
                                                <div class="button edit-checkout-item" ng-click="navigateToIncident(child, incident.Id);">{{"Edit"|l10n}}</div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="button large-button invalid" ng-click="markAsInValid(child);">{{"Invalid"|l10n}}</div>

                                </div>
                                
                                
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </li>
</ul>
</div>