<h3 ng-show="checkout">{{ checkout.Type }}, {{ checkout.Site.FullName }}</h3>
<div class="controls top" ng-hide="true">
    <button ng-disabled="!checkout.Site || !checkout.Site.Id" class="button large-button" ng-click="displaySitePermits()">{{"RequiredPermits"|l10n}}</button>
</div>
<div class="filters">
    {{ "Search" | l10n }}:
    <input type="text" class="search" ng-model="search" placeholder="{{ 'TypeToSearch' | l10n }}" />
</div>
<div class="checkout">
    <ul>
        <li ng-repeat="item in checkout.Items | filter:search"
            post-repeat-directive>
            <h3 ng-click="item.toggleCollapsed()">
                <i class="fa fa-plus" ng-if="item.Collapsed"></i>
                <i class="fa fa-minus" ng-if="!item.Collapsed"></i>
                {{item.Name}}
            </h3>
            <div class="children" ng-if="!item.Collapsed">
                <sl-category/>
            </div>
        </li>
    </ul>
</div>