<br/>
<form name="Configuration" ng-submit="save()">
    <fieldset ng-disabled="inProgress">
        <div>
            <label for="apiAddress">{{ "ApiAddress" | l10n }}</label>
            <input type="url" name="apiAddress" ng-model="configuration.ApiAddress" required="required" maxlength="300" />
        </div>
        <div>
            <label for="apiAddress">{{ "MobileServicesAddress" | l10n }}</label>
            <input type="url" name="apiAddress" ng-model="configuration.MobileServicesAddress" required="required" maxlength="300" />
        </div>
        <div class="controls">
            <button class="button large-button" type="submit" ng-disabled="Configuration.$invalid">{{ "Save"|l10n}}</button>
        </div>
    </fieldset>
</form>