<form name="Incident" novalidate>
    <div class="main-area">
        
        <div class="row-fluid">
            <div class="span6">
                <h3>{{ "Severity" | l10n }}</h3>
                <div class="severities">
                    <div class="severity"
                         ng-repeat="severity in severities | orderBy:Name"
                         ng-class="{ 'selected': severity.Id == incident.Severity.Id }"
                         ng-style="{ 'background-color': severity.Color }"
                         ng-click="selectSeverity(severity.Id)">
                        {{ severity.Name }}
                    </div>
                </div>
            </div>

            <div class="span6">
                <div class="handling">
                    <h3>{{ "Handling" | l10n }}</h3>
                    <div>
                        <label for="IncidentDueTime">{{ "DueTime" | l10n }}</label>
                        <div class="control-group input-append">
                            <input name="IncidentDueTime" type="text" ng-model="incident.DueTime" data-date-format="dd/mm/yyyy" bs-datepicker>
                            <button type="button" class="btn" data-toggle="datepicker"><i class="icon-calendar"></i></button>
                        </div>
                    </div>
                    <div>
                        <label for="IncidentHandlingTarget">{{ "HandlingTarget" | l10n}}</label>
                        <select name="IncidentHandlingTarget" ng-model="incident.HandlingTarget" ng-options="target.Name for target in targets">
                            <option value="">{{"SelectHandlingTarget" | l10n }}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h3>{{"IncidentDescription"|l10n}}</h3>
            <textarea name="IncidentDescription" ng-model="incident.Description" required autofocus></textarea>
        </div>
        <div>
            <h3>{{"IncidentRemarks"|l10n}}</h3>
            <textarea name="IncidentRemarks" ng-model="incident.Remarks"></textarea>
        </div>
    </div>
    <div class="side-bar">
        <h3>{{"Attachments"|l10n}}</h3>
        <div class="attachments">
            <div class="attachment" ng-repeat="attachment in incident.Attachments">
                <img ng-src="{{ attachment.Url }}" />
            </div>
            <div class="attachment add-attachment" ng-hide="incident.Attachments.length >=5">
                <div class="inner-button" ng-click="addFromCamera()"><i class="fa fa-camera"></i></div>
                <div class="inner-button" ng-click="addFromLibrary()"><i class="fa fa-folder-open"></i></div>
            </div>
        </div>
    </div>
    <div class="controls">
        <button class="button large-button" ng-disabled="Incident.$invalid" ng-click="save()">{{ "Save"|l10n}}</button>
        <button class="button large-button" ng-disabled="Incident.$invalid" ng-click="saveAndNew()">{{ "SaveAndNew"|l10n}}</button>
    </div>
</form>
