<div class="login-box">
    <h2>{{"SystemLogin"|l10n}}</h2>
    <form name="Login" ng-submit="login()">
        <fieldset ng-disabled="inProgress">
            <div>
                <label for="userName">{{ "Username" | l10n }}</label>
                <input type="text" name="userName" ng-model="Username" placeholder="{{ 'Username' | l10n }}" required="required" maxlength="200" />
            </div>
            <div>
                <label for="password">{{ "Password" | l10n }}</label>
                <input type="password" name="password" ng-model="Password" placeholder="{{ 'Password' | l10n }}" required="required" maxlength="20" />
            </div>
            <p class="message" ng-show="loginError">{{ loginError | l10n }}</p>
            <div class="controls">
                <button class="button large-button" type="submit" ng-disabled="Login.$invalid">{{ "Login"|l10n}}</button>
            </div>
        </fieldset>
    </form>

    <div class="app-logo">
        <div>
            <img src="https://bt.ylm.co.il/Static/Images/ylm-logo-large.png" />
        </div>
        <div>
            <img src="https://bt.ylm.co.il/Static/Images/Logos/SimplyLog.png" />
        </div>
    </div>

</div>