<h1>{{"NewCheckout"|l10n}}</h1>
<div class="controls top">
    <a class="button large-button" href="#/">{{"Back"|l10n}}</a>
</div>



<div class="filters">
    {{ "Search" | l10n }}:
    <input type="text" class="search" ng-model="search" placeholder="{{ 'TypeToSearch' | l10n }}" />
</div>
<div class="siteGroup" data-ng-repeat="(groupName, sites) in groups">
    <h3>{{groupName}}</h3>        
    <div>
        <div    ng-repeat="site in sites | filter:search" 
                ng-class="{'site': true, 'has-checkout': site.HasCheckout, 'selected':site == selectedSite }"
                ng-click="selectSite(site)">
            <div class="hd">{{ site.Name }}</div>
            <div class="text">{{ site.Address }}</div>
        </div>
    </div>
</div>
<div class="controls">
    <div class="button large-button" ng-click="startCheckout()">{{ "StartCheckout" | l10n }}</div>
</div>